<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musico</title>
    <link rel="stylesheet" href="Stylemusic.css">
    <link rel="shortcut icon" href="Images/logo/logo2.jpg" type="image/x-icon">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,500;1,900&family=Ubuntu:wght@300;400;500&family=Varela+Round&display=swap"
        rel="stylesheet">

    <!-- icons -->
    <script src="https://kit.fontawesome.com/2da6a99863.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav id="nav">
        <img class="icons"
            src="./Images/logo/193811305-music-word-trippy-psychedelic-graffiti-style-letters-vector-hand-drawn-doodle-cartoon-logo-removebg-preview.png"
            alt="error">
        <div class="list">
            <li class="navitem"><a href="">Home</a></li>
            <li class="navitem"><a href="#">About</a></li>
            <li class="navitem"><a href="#">Tracks</a></li>
            <li class="navitem"><a href="#">Blog</a></li>
            <li class="navitem"><a href="#">Pages</a></li>
            <li class="navitem"><a href="#">Contact</a></li>
        </div>
        <div class="list">
            <img class="icons social one" src="./Images/logo/facebook-logo-white.png" alt="">
            <img class="icons social two" src="./Images/logo/YT.png" alt="">
            <img class="icons social three"
                src="./Images/logo/download__1_-removebg-preteiter.png" alt="">
            <img class="icons social four" src="./Images/logo/social.png" alt="">
        </div>
    </nav>
    <div id="main">
        <header>
            <!-- <img src="/Webprojetcs/MY music site/Images/logo/arjitsingh.jpeg" alt=""> -->

        </header>

        <div id="headerbox">
            <h1>Romance Special</h1>

            <div id="songlist">
                <!-- <div id="songele"> -->
                <div   class="song">
                    <img  class="covers"  alt="">
                    <h4 class="songName">Tere Pyar me </h4>
                    <i  id="0" class="fa-solid songplay fa-2x fa-play colorr" ></i>
                </div>
                <div class="song">
                    <img class="covers"  alt="">
                    <h4 class="songName">Tere Pyar me </h4>
                    <i id="1" class="fa-solid songplay fa-2x fa-play colorr" ></i>
                </div>
                <div   class="song">
                    <img  class="covers"  alt="">
                    <h4 class="songName">Tere Pyar me </h4>
                    <i id="2" class="fa-solid songplay fa-2x fa-play colorr" ></i>
                </div>
                <div   class="song">
                    <img class="covers"   alt="">
                    <h4 class="songName">Tere Pyar me </h4>
                    <i id="3" class="fa-solid songplay fa-2x fa-play colorr" ></i>
                </div>
                <div   class="song">
                    <img class="covers" alt="">
                    <h4 class="songName">Tere Pyar me </h4>
                    <i id="4" class="fa-solid songplay fa-2x fa-play colorr" ></i>
                </div>
                <div   class="song">
                    <img class="covers"  >
                    <h4 class="songName">Tere Pyar me </h4>
                    <i id="5" class="fa-solid songplay fa-2x fa-play colorr" ></i>
                </div>
                <div   class="song">
                    <img  class="covers">
                    <h4 class="songName">Tere Pyar me </h4>
                    <i id="6" class="fa-solid songplay fa-2x fa-play colorr" ></i>
                </div>
                <!-- </div> -->

            </div>
        </div>
    </div>
    <div id="otherTrack">
        <div id="tracks">
            <div id="head">
                <h1>Some Other Tracks</h1>
            </div>

            <div id="track">
                <img src="Images/chala-jata-hu.jpg">
            <h4>chala-jata-hu</h4>
            <i  class=" fa-solid fa-2x fa-play colorr"></i>
            </div>
            <div id="track">
                <img src="Images/chala-jata-hu.jpg">
            <h4>chala-jata-hu</h4>
            <i class=" fa-solid fa-2x fa-play colorr" ></i>
            </div>
            <div id="track">
                <img src="Images/chala-jata-hu.jpg">
            <h4>chala-jata-hu</h4>
            <i class=" fa-solid fa-2x fa-play colorr" ></i>
            </div>
            <div id="track">
                <img src="Images/chala-jata-hu.jpg">
            <h4>chala-jata-hu</h4>
            <i class=" fa-solid fa-2x fa-play colorr"></i>
            </div>



        </div>
    </div>

    <div id="secondLast">
        <div id="boxSong">
        <div id="head2"><h1>Some Trending Albums</h1></div>
        <div id="Albums">
        <div id="box0"  class="album">
            <img src="Images/logo/Romanticlogo.jpeg" alt="">
            <h3>Romantic Songs</h3>
            
        </div>
        <div id="box1" class="album">
             <img src="Images/logo/honey.jpg" alt="">
             <h3>Honey's Special</h3>
            </div>
        <div id="box2" class="album"> 
            <img src="Images/logo/BestOfSadSongsHindi_20220922012526.jpg" alt="">
            <h3>Sad Songs</h3>
        </div>
        <div id="box3" class="album"> 
            <img src="Images/logo/diljit.webp" alt="">
            <h3>Punjabi Special</h3>
        </div>
        <div id="box0"  class="album">
            <img src="Images/logo/Romanticlogo.jpeg" alt="">
            <h3>Romantic Songs</h3>
            
        </div>
        <div id="box1" class="album">
             <img src="Images/logo/honey.jpg" alt="">
             <h3>Honey's Special</h3>
            </div>
        <div id="box2" class="album"> 
            <img src="Images/logo/BestOfSadSongsHindi_20220922012526.jpg" alt="">
            <h3>Sad Songs</h3>
        </div>
        <div id="box3" class="album"> 
            <img src="Images/logo/diljit.webp" alt="">
            <h3>Punjabi Special</h3>
        </div>
       </div>
    </div>
    </div>

    <div id="someMore">
        <div id="More">
        <div id="last">
            <div class="song1">
            <img src="Images/Ed_Sheeran_Perfect_Single_cover.jpg" alt="">
            <h3>Perfect-Ed Sheeran</h3>
            <i class=" fa-solid fa-2x fa-play colorr" ></i>
        </div>
        <div class="song1">
            <img src="Images/Diljit.jpg" alt="">
            <h3>Diljit Dosanjh</h3>
            <i class=" fa-solid fa-2x fa-play colorr" ></i>
        </div>
        <div class="song1">
            <img src="Images/do-you-know.jpg" alt="">
            <h3>Do you Know-Diljit Dosanjh</h3>
            <i class=" fa-solid fa-2x fa-play colorr" ></i>
        </div>
        <div class="song1">
            <img src="Images/Prada.jpg" alt="">
            <h3>Prada-Jass Manak</h3>
            <i class=" fa-solid fa-2x fa-play colorr" ></i>
        </div>
        <div class="song1">
            <img src="Images/tujhse-mehka.jpg" alt="">
            <h3>Tujhse Mehka Mehka sa hu me </h3>
            <i class=" fa-solid fa-2x fa-play colorr" ></i>
        </div>
        <div class="song1">
            <img src="Images/tum kya milee.jpeg" alt="">
            <h3>Tum Kya Mile-Arijit Singh</h3>
            <i class=" fa-solid fa-2x fa-play colorr" ></i>
        </div>
        
    </div>

    <div id="rightbox">
        <h1>Playing Now - </h1>
        <img id="coverimg" src="Images/do-you-know.jpg" alt="">
        <h2 id="songName">Diljit Dosanjh - Do You Know  ></h2>
    </div>
    </div>
    </div>


    <div id="bottom">
    <div id="input">
        <p id="startTime"
        >0:0</p>
        <input id="progressBar" type="range" name=""  value="0">
        <p id="endTime">5:00</p>
    </div>
        <div id="buttons">
            <i id="backward" class="fa-solid fa-3x fa-backward"  style="color:white;"></i>
            <i id="play" id="" class="fa-solid fa-3x fa-play"   style="color: white;"></i>
            <i id="forward" class="fa-solid fa-3x fa-forward"   style="color: white;"></i>
        </div>
    </div>

    <script src="jsmusic.js"></script>
</body>

</html>